<% include partials/header.ejs %>
<% include partials/nav.ejs %>

    <div class="container pt-2">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>

        <% include partials/errorDisplay.ejs %>

        <h2>Create a New Experiment Session</h2>
        <p>Please choose from one of the template below:</p>
        <% for(const template of templates) { %>
            <hr class="mt-2"/>
            <h4><%= template.name %></h4>
            <p><%= template.description %></p>
            <form method="post" action="/session" target="_blank">
                <input type="hidden" value="<%= template._id %>" name="templateId">
                <button class="btn btn-secondary">Use This Template</button>
            </form>
        <% } %>
        <br/><br/>
        <h2>Recent Sessions</h2>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Experiment</th>
                <th scope="col">Access Code</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% for(const session of sessions) { %>
                <tr>
                    <td><%= session.experimentTemplate.name %></td>
                    <td><%= session.accessCode %></td>
                    <td>
                        <form action="/data">
                            <input type="hidden" value="<%= session.accessCode %>" name="accessCode">
                            <button class="btn btn-link">View Result</button>
                        </form>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

<% include partials/footer.ejs %>
