<% include partials/header.ejs %>

<style>
    .app {
        text-align: center;
        padding-top: 100px;
    }
    .title {
        font-size: 40px;
    }
    .code-display {
        font-size: 100px;
        font-weight: bold;
        padding: 50px;
    }
</style>

<div class="container app">
    <h2 class="title">Visit <b><%= process.env.APP_URL %></b> and type the following code:</h2>
    <h1 class="code-display"><code><%= session.accessCode.substring(0, 3) %> <%= session.accessCode.substring(3, 6) %></code></h1>
    <form method="get" action="<%= process.env.BASE_PATH + '/data' %>">
        <input type="hidden" value="<%= session.accessCode %>" class="form-control" name="accessCode" />
        <button class="btn btn-primary">Stop & View Results</button>
    </form>
</div>

<% include partials/footer.ejs %>
